<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CallFireUser" value="Enter Your CallFire API Code"/>
    <add key="CallFirePassword" value="Enter Your CallFire API Password"/>
  </appSettings>
</configuration>